@charset "euc-jp";

html>body {
	font-size:130%;
}

#nihongo{
	width:296px;
	background:url(/img/1st-right-title-bg4.gif) no-repeat 1px 1px #fff;
	margin:0px 0 8px 0;
	padding:1px 1px 8px 1px;
	border:1px solid #ccc;
}

#nihongo h2{
	width:258px;
	height:13px;
	display:block;
	float:left;
	color:#333;
	padding:4px 0 0 0px;
	font-size:80%;
	text-indent:18px;
	line-height:120%;
}


#nihongo a img{
	width:31px;
	display:block;
	float:right;
	margin:4px 2px 0px 0;
}
html>body #nihongo a img{
	margin:4px 4px 0px 0;
}

#nihongo table{
	display:block;
	float:left;
	margin:10px 0px 0px 0;
}
#nihongo .gokentext1{
	font-size:80%;
	color: #333333;
	display:block;
	float:left;
	width:284px;
	margin:0px 0 0 2px;
}
html>body #nihongo .gokentext1{
	margin:0px 0 0 4px;
}
#nihongo .gokentext span{
	font-size: 80%;
	padding:4px 0px 0px 2px;
	color: #333333;
}
html>body .gokentext span{
	margin:4px 0 0 4px;
}

#nihongo .gokentext a{
	color:#0033cc;
	font-size: 80%;
	padding-left:1px;
}

.goken-ul {
	color: #CC0033;
	text-decoration: underline;
}